<div class="order-page">
  <form class="row" #form="ngForm">
    <div class="form-group col-lg-6" [ngClass]="applyCssErro(nameInput)">
      <label class="form-control-label">Name</label>
      <input type="text" required #nameInput="ngModel" [(ngModel)]="order.client.name"
             class="form-control form-control-warning" name="clientName">
      <div class="form-control-feedback" *ngIf="isValidTouched(nameInput)">Shucks, check the formatting of that and try again.</div>
    </div>

    <div class="form-group col-lg-6" [ngClass]="applyCssErro(emailInput)">
      <label class="form-control-label">Email</label>
      <input type="email" required #emailInput="ngModel" [(ngModel)]="order.client.email"
             class="form-control form-control-warning" name="clientEmail">
      <div class="form-control-feedback" *ngIf="isValidTouched(emailInput)">Shucks, check the formatting of that and try again.</div>
    </div>

    <div class="form-group col-lg-6" [ngClass]="applyCssErro(addressInput)">
      <label class="form-control-label">Address</label>
      <input type="text" required #addressInput="ngModel" [(ngModel)]="order.client.address"
             class="form-control form-control-warning" name="clientAddress">
      <div class="form-control-feedback" *ngIf="isValidTouched(addressInput)">Shucks, check the formatting of that and try again.</div>
    </div>

    <div class="form-group col-lg-6" [ngClass]="applyCssErro(telephoneInput)">
      <label class="form-control-label">Telephone Number</label>
      <input type="tel" required #telephoneInput="ngModel" [(ngModel)]="order.client.telephone"
             class="form-control form-control-warning" name="clientTelephone">
      <div class="form-control-feedback" *ngIf="isValidTouched(telephoneInput)">Shucks, check the formatting of that and try again.</div>
    </div>


    <div class="col-lg-6">
      <div class="row">
        <div class="form-group col-lg-6" [ngClass]="applyCssErro(pizzaSelect)">
          <label>Pizza</label>
          <select class="form-control" name="pizza-description" required #pizzaSelect="ngModel" [(ngModel)]="pizza">
            <option *ngFor="let p of pizzas" [ngValue]="p">{{p.description}}</option>
          </select>
          <div class="form-control-feedback" *ngIf="isValidTouched(pizzaSelect)">Shucks, check the formatting of that and try again.</div>
        </div>

        <div class="form-group col-lg-3" [ngClass]="applyCssErro(sizeSelect)">
          <label>Size</label>
          <select class="form-control" name="pizza-size" required #sizeSelect="ngModel" [(ngModel)]="size">
            <option *ngFor="let s of pizza?.sizes" [ngValue]="s">{{s.description}}</option>
          </select>
          <div class="form-control-feedback" *ngIf="isValidTouched(sizeSelect)">Shucks, check the formatting of that and try again.</div>
        </div>

        <div class="form-group col-lg-3">
          <label>Quantity</label>
          <input type="number" required name="pizza-qty" class="form-control" [(ngModel)]="qty"
                 placeholder="Qty">
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <label class="custom-control custom-checkbox" *ngFor="let t of toppings; let i = index">
        <input type="checkbox" class="custom-control-input" [(ngModel)]="t.selected" name="topping{{i}}">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{t.description}} {{t.price | currency:'USD':true:'2.2-2'}}</span>
      </label>
    </div>

    <div class="col-lg-6">
      <div class="form-group col-lg-4">
        <label>Sub-total</label>
        <label style="color: darkgreen;">{{subTotal() | currency:'USD':true:'2.2-2'}}</label>
      </div>

      <button class="btn btn-info btn-sm" [disabled]="!form.valid" (click)="send()">Send</button>
    </div>
  </form>
</div>
