<table class="table table-inverse">
  <thead>
  <tr>
    <div class="form-inline">
      <input class="form-control col-lg-5" type="text" placeholder="Adrress" [(ngModel)]="address">
      <input class="form-control col-lg-5" type="text" placeholder="Telephone" [(ngModel)]="phone">
      <button class="btn btn-success" type="submit" (click)="search()">Search</button>
    </div>
  </tr>
  <tr>
    <th>Client</th>
    <th>E-mail</th>
    <th>Telephone</th>
    <th>Tax</th>
    <th>Total</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let o of orders">
    <th scope="row">{{o.client.name}}</th>
    <td>{{o.client.email}}</td>
    <td>{{o.client.telephone}}</td>
    <td>{{o.tax | currency:'USD':true:'2.2-2'}}</td>
    <td>{{o.total | currency:'USD':true:'2.2-2'}}</td>
  </tr>
  </tbody>
</table>
