<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary bg-faded">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']">List Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/order']">New Order</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
